proxmox_api_token_id     = "root@pam!terraform"
proxmox_api_token_secret = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
tailscale_auth_key       = "REPLACE_ME_tailscale_auth_key" # generate at https://login.tailscale.com/admin/settings/keys
